{
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "lodash-fp",
    "no-class",
    "no-inferred-method-name",
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "ecmascript": 6,
    "react": {
      "pragma": "React",
      "version": "latest"
    }
  },
  "rules": {
    "arrow-body-style": [0, "as-needed"],
    "arrow-parens": [0, "as-needed"],
    "block-scoped-var": 2,
    "block-spacing": [2, "always"],
    "brace-style": [2, "1tbs", {"allowSingleLine": true}],
    "camelcase": [2, {"properties": "always"}],
    "comma-dangle": [1, "never"],
    "comma-spacing": 1,
    "comma-style": [1, "last"],
    "consistent-this": [1, "that", "self"],
    "curly": [1, "all"],
    "default-case": 2,
    "dot-location": [2, "property"],
    "eol-last": 1,
    "eqeqeq": 2,
    "func-names": 0,
    "func-style": [0, "expression"],
    "generator-star-spacing": [1, "after"],
    "guard-for-in": 2,
    "indent": [1, 2],
    "init-declarations": [2, "always"],
    "jsx-quotes": [1, "prefer-double"],
    "lodash-fp/consistent-compose": "off",
    "lodash-fp/consistent-name": ["error", "_"],
    "lodash-fp/no-argumentless-calls": "error",
    "lodash-fp/no-chain": "error",
    "lodash-fp/no-extraneous-args": "error",
    "lodash-fp/no-extraneous-function-wrapping": "error",
    "lodash-fp/no-extraneous-iteratee-args": "error",
    "lodash-fp/no-for-each": "off",
    "lodash-fp/no-single-composition": "error",
    "lodash-fp/no-submodule-destructuring": "error",
    "lodash-fp/no-unused-result": "error",
    "lodash-fp/prefer-compact": "error",
    "lodash-fp/prefer-composition-grouping": "error",
    "lodash-fp/prefer-constant": ["error", {"arrowFunctions": false}],
    "lodash-fp/prefer-flat-map": "error",
    "lodash-fp/prefer-get": "error",
    "lodash-fp/prefer-identity": ["warn", {"arrowFunctions": false}],
    "lodash-fp/preferred-alias": "off",
    "lodash-fp/use-fp": "error",
    "new-cap": [2, {"capIsNew": false}],
    "no-array-constructor": 2,
    "no-bitwise": 2,
    "no-class/no-class": 1,
    "no-cond-assign": [2, "always"],
    "no-confusing-arrow": 1,
    "no-constant-condition": 0,
    "no-console": 0,
    "no-duplicate-imports": [ 1, {"includeExports": true}],
    "no-eq-null": 2,
    "no-eval": 2,
    "no-floating-decimal": 2,
    "no-implicit-coercion": 0,
    "no-implicit-globals": 2,
    "no-implied-eval": 2,
    "no-invalid-this": 0,
    "no-label-var": 1,
    "no-magic-numbers": 0,
    "no-multi-spaces": 1,
    "no-multi-str": 1,
    "no-native-reassign": 2,
    "no-nested-ternary": 2,
    "no-new": 2,
    "no-new-function": 0,
    "no-new-object": 2,
    "no-new-wrappers": 2,
    "no-path-concat": 0,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-compare": 1,
    "no-sequences": 2,
    "no-shadow": 1,
    "no-shadow-restricted-names": 2,
    "no-throw-literal": 2,
    "no-undef": 1,
    "no-undef-init": 0,
    "no-undefined": 0,
    "no-underscore-dangle": 0,
    "no-unmodified-loop-condition": 1,
    "no-unneeded-ternary": 2,
    "no-unused-expressions": [ 2,
      {"allowShortCircuit": true, "allowTernary": true}
    ],
    "no-unused-vars": 0,
    "no-use-before-define": [1, "nofunc"],
    "no-useless-call": 1,
    "no-useless-concat": 1,
    "no-useless-constructor": 2,
    "no-useless-escape": 1,
    "no-var": 1,
    "prefer-arrow-callback": 1,
    "prefer-const": 1,
    "prefer-rest-params": 1,
    "prefer-spread": 1,
    "quote-props": [1, "consistent-as-needed"],
    "quotes": [0, "double", "avoid-escape"],
    "radix": [2, "as-needed"],
    "react/display-name": 2,
    "react/jsx-boolean-value": [2, "always"],
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": [2, "allow-in-func"],
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/require-extension": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 2,
    "react/wrap-multilines": 2,
    "require-jsdoc": 0,
    "require-yield": 2,
    "semi": [1, "always"],
    "sort-imports": 0,
    "sort-vars": 0,
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "space-infix-ops": 1,
    "space-unary-ops": 1,
    "spaced-comment": [2, "always", {"exceptions": ["-"]}],
    "strict": 0,
    "valid-jsdoc": [2,
      {"requireReturn": false, "requireReturnDescription": false}
    ],
    "vars-on-top": 2,
    "wrap-iife": [2, "inside"]
  }
}
